.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: auto;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  
}